* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid {
    display: grid;
    grid-gap: 0.3em;
    margin: 0.5em;
    min-height: 100vh;

}

.grid nav {
    background-color: lightgreen;
    border: 1px solid transparent;
    border-radius: 0.2em;
    text-align: center;
}
.grid aside {
    background-color: lightseagreen;
    border: 1px solid transparent;
    border-radius: 0.2em;
    text-align: center;
}

.grid main {
    background-color: mediumaquamarine;
    border: 1px solid transparent;
    border-radius: 0.2em;
    text-align: center;
}

.grid picture {
    background-color: yellowgreen;
    border: 1px solid transparent;
    border-radius: 0.2em;
    text-align: center;
}

.grid footer {
    background-color: green;
    border: 1px solid transparent;
    border-radius: 0.2em;
    text-align: center;

}

 
    

@media(min-width:576px){
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 18fr repeat(3, 6fr) 4fr;
    
    }
}

@media(min-width:768px) {
    .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(30, 1fr);
    max-
    }

    .grid nav {
        grid-column: 1/5;
        grid-row: 1/3;
        width: 100%;
        height: 100%;
    }
    .grid aside {
        grid-column: 1/2;
        grid-row: 3/31;
    }

    .grid main {
        grid-column: 2/5;
        grid-row: 3/15;
    }

    .grid picture:nth-child(4){
        grid-column: 2/3;
        grid-row: 15/25;
    }

    .grid picture:nth-child(5){
        grid-column: 3/4;
        grid-row: 15/25;
    }

    .grid picture:nth-child(6){
        grid-column: 4/5;
        grid-row: 15/25;
    }

    .grid footer {
        grid-column: 2/5;
        grid-row: 25/31;
    }


}